version: '3'

services:
  spritpreise:
    image: spritpreise
    container_name: spritpreise-app
    restart: always
    build:
      context: ./
    depends_on:
      - db
    ports:
      - 3040:80
    env_file:
      - .env

  db:
    image: mongo:latest
    container_name: spritpreise-db
    restart: always
    volumes:
      - ./data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    env_file:
      - .env-db
